<<<<<<< HEAD
/*Inician opciones por default*/
body{
    font-size: 1rem;
}

h1, h2, h3, h4, h5 {
=======
h1,
h3,
h5 {
>>>>>>> 3a47be865f82c8198cfc04ff1a4fd91b45bb291d
    font-family: 'Fredoka One', cursive;
    color: #ef8100;
}

body, .nav-items {
    font-family: 'Catamaran', sans-serif;
}

a, .nav-items {
    color: #FD8A3A;
}

a#navItemUno:hover,
a#navItemDos:hover,
a#navItemTres:hover,
a#navItemCuatro:hover,
a#navItemCinco:hover,
a#navItemSeis:hover,
a#navItemSiete:hover,
a#navItemOcho:hover {
    color: #8B0003;
    transform:scale(1.05);
}

hr.borde {
    border: 0.15em solid #8B0003;
    border-radius: 5px;
  }

.icon-tabler-brand-facebook:hover,
    .icon-tabler-brand-instagram:hover,
    .icon-tabler-brand-whatsapp:hover {
    fill: #FCDB7E;
}

#login-borde {
    border:#8B0003;
}

#hamburguesita{
    color: #8B0003;
}

#offcanvasNavbar {
    background-color: #FCDB7E;
}

@media (min-width: 576px) {
    #offcanvasNavbar {
    background-color: #ffffff;
    }
}

input[type=submit] {
    background-color: #ef8100;
    border: none;
    color: #8B0003;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 150%;
  }

#botonLogin {
    color:#8B0003
}

#drop-login {
    color: #FCDB7E
}

.img-brand:hover {
    transform: scale(1.1) rotate(360deg);
    transition-duration: 2s;
    transition-delay: now;
}

/*Terminan opciones por default*/

* {
    font-family: 'Catamaran', sans-serif;
}

hr.borde-footer {
    border: 0.15em solid #8B0003;
    border-radius: 5px;
}

.icon-tabler-brand-facebook:hover {
    fill: #FCDB7E;
}

.icon-tabler-brand-instagram:hover {
    fill: #FCDB7E;
}

.icon-tabler-brand-whatsapp:hover {
    fill: #FCDB7E;
}

a {
    color: #FD8A3A;
}

.sombra {
    filter: drop-shadow(0 5px 10px #FD8A3A);
<<<<<<< HEAD
}

.contenedor{
    width: 300px;
=======
>>>>>>> 3a47be865f82c8198cfc04ff1a4fd91b45bb291d
}