/*Inician opciones por default*/
/*Plantilla por default*/

/*Color y fuente para encabezados*/
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Fredoka One', cursive;
    color: #ef8100;
}

/*Fuente para body y elementos en navbar*/
body,
.nav-items {
    font-family: 'Catamaran', sans-serif;
}

/*Color para elementos anchor y del navbar*/
a,
.nav-items {
    color: #FD8A3A;
}

/*Cambios de color al pasar el mouse en elementos de navbar
puestos con ID y por separado para evitar conflictos con
TwitterBootstrap*/
a#navItemUno:hover,
a#navItemDos:hover,
a#navItemTres:hover,
a#navItemCuatro:hover,
a#navItemCinco:hover,
a#navItemSeis:hover,
a#navItemSiete:hover,
a#navItemOcho:hover {
    color: #8B0003;
    transform: scale(1.05);
}

/*Color de los bordes de la navbar*/
hr.borde {
    border: 0.15em solid #8B0003;
    border-radius: 5px;
}

/*Color de relleno de los iconos del footer*/
.icon-tabler-brand-facebook:hover,
.icon-tabler-brand-instagram:hover,
.icon-tabler-brand-whatsapp:hover {
    fill: #FCDB7E;
}

/*Color de borde para el login*/
#login-borde {
    border: #8B0003;
}

/*Color para el icono toggler en mobile navbar*/
#hamburguesita {
    color: #8B0003;
}

/*Color para el menú de offcanvas...*/
#offcanvasNavbar {
    background-color: #FCDB7E;
    
}

/*...que se elimina al pasar a PC*/
@media (min-width: 576px) {
    #offcanvasNavbar {
    background-color: #ffffff;
    }
}

/*Color y estilo para inputs submit, como el de login de la navbar*/
input[type=submit] {
    background-color: #ef8100;
    border: none;
    color: #8B0003;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 150%;
  }

#botonLogin {
    color: #8B0003
}

/*Color para el login dropdown*/
#drop-login {
    color: #FCDB7E
}

/*Redes fijas*/
@media (max-width: 770px){

    .redes{
        display: flex;
        justify-content: center;
    }
}

/*Poderosa animación creada por Leo para el logo GomGom*/
.img-brand:hover {
    transform: scale(1.1) rotate(360deg);
    transition-duration: 2s;
    transition-delay: now;
}

.img-brand:not(:hover) {
    transform: scale(1.1) rotate(-360deg);
    transition-duration: 2s;
    transition-delay: now;
}

/*Terminan opciones por default*/

/*Terminan opciones por default*/
