h1, h2, h3, h4, h5 {
    font-family: 'Fredoka One', cursive;
    color: #ef8100;
}
* {
    font-family: 'Catamaran', sans-serif;
}

#registro{
    background-color: #FCDB7E;
}

a {
    color: #FD8A3A;
}

hr.borde-footer {
    border: 0.15em solid #8B0003;
    border-radius: 5px;
  }

.icon-tabler-brand-facebook:hover{
    fill: #FCDB7E;
}

.icon-tabler-brand-instagram:hover{
    fill: #FCDB7E;
}

.icon-tabler-brand-whatsapp:hover{
    fill: #FCDB7E;
}