
/*Inician opciones por default*/
* {
    font-family: 'Catamaran', sans-serif;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: 'Fredoka One', cursive;
    color: #ef8100;
}

body, .nav-items {
    font-family: 'Catamaran', sans-serif;
}

a, .nav-items {
    color: #FD8A3A;
}

a#navItemUno:hover, a#navItemDos:hover, a#navItemTres:hover, a#navItemCuatro:hover, a#navItemCinco:hover, a#navItemSeis:hover,
a#navItemSiete:hover, a#navItemOcho:hover {
    color: #8B0003;
    transform: scale(1.05);
}

hr.borde {
    border: 0.15em solid #8B0003;
    border-radius: 5px;
}

.icon-tabler-brand-facebook:hover, .icon-tabler-brand-instagram:hover, .icon-tabler-brand-whatsapp:hover {
    fill: #FCDB7E;
}

#login-borde {
    border: #8B0003;
}

#hamburguesita {
    color: #8B0003;
}

#offcanvasNavbar {
    background-color: #FCDB7E;
}

@media (min-width: 576px) {
    #offcanvasNavbar {
    background-color: #ffffff;
    }
}

input[type=submit] {
    background-color: #ef8100;
    border: none;
    color: #8B0003;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 150%;
  }

#botonLogin {
    color: #8B0003
}


#drop-login {
    color: #FCDB7E
}

.img-brand:hover {
    transform: scale(1.1) rotate(360deg);
    transition-duration: 2s;
    transition-delay: now;
}
/*Terminan opciones por default*/

.nav .nav-link{
    background-color: #ef8100;
    color: white;
    
}

.nav .nav-link.active{
    background-color: #8B0003;
    color: white;
}

.division {
    border-color: #8B0003;
    border-width: 0.2em;
}

.titulo-elemento{
    color: #8B0003;
    font-family:'Fredoka One';
}


#cajitas {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
    align-content: center;
    background-color: #8B0003;
}

.cajita{
background-color: #FCDB7E;
border-radius: 0.8em;
height: auto;
color:black;
width: 500px;
max-width: 85%;
margin: auto auto;

}

table{
    padding-top: 15px;
    width: 80%;
    background-color: white;
    margin: 10px auto;
    text-align: center;
}

@media screen and (min-width: 576px) and (max-width:800px) {
    table{
        width: 100%;
    }
    
}
/* @media screen and (max-width: 800px) {
    table{
        width: 90%;
    }
    
} */

.cantidad{
   width: 30%;
   text-align: center;
   background-color: white;
   border-style: none;
}

.precio{
    width: 100%;
    text-align: center;
    background-color: white;
    border-style: none;
}

.producto{
    border-radius: 1em;
    height: 80px;
    width:auto;
}

#btn{
    display: none;
}

.botones{
    height: 1.6rem;
}
.botones:active{
    transform: scale(1.2);
}

#col2{
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
}

#items{
    height: 50%;
    overflow: hidden scroll;
    align-self: flex-start;
}

#items::-webkit-scrollbar {
    display: none;
}

#datos{
    height: 50%;
    width: 100%;
    background-color: white;
    align-self: flex-start;
}

/*
#table1{
    border-collapse: separate;
    border-spacing: 0 10px;
}
*/

.btn.btn-warning{
    background-color: #EF8100;
    border-color: #EF8100;
    color: white;
    font-family:'Fredoka One';
    width: 40%;
    margin: 0 auto;
}

#floatingInput{
    text-align: center;
    width: 75%;
    border-color: #8B000362;
}

.form-floating label{
    color: #8B0003;
}

/* Estilos de opciones en inputs */
.botoncito, .botoncito-2{
    color:#8B0003;
    background-color: #FD8A3A;
    border-style: none;
    border-radius: 2em;
    width: 85%;
    height: 100%;
}

.botoncito-2{
    background-color: white;
    width: 70%;
    border:solid #8B0003 0.18em
}

/* La clase .radio es la clase de label que contiene el radio input */
.radio{
    display:inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    width: 100%;
    height: 100%;
}

.radio-input {
    display:none;
}

/* Se está creando el círculo grande del input */
.radio-radio{
    width: 2.5em;
    height: 2.5em;
    background-color: white;
    border-radius: 50%;

    /* Margen a al texto de al lado */
    margin-right: 10px;

    /* Espacio entre el círculo grande y el chico */
    box-sizing: border-box;
    padding: 7px;
}

/* Se crea un elemento virtual (el circulito de adentro) */
.radio-radio::after{
    /* Para que se visualice */
    content: ""; 
    width: 100%;
    height: 100%;
    display: block;
    background-color: #8B0003;
    border-radius: 50%;

    /* El aspecto base es "deseleccionado" */
    transform: scale(0);
    transition: 0.15s;

}

/* Se selecciona el siguiente elemento al '.radio-input:checked' */
/* Es decir, se selecciona el circulito 'seleccionado' */
.radio-input:checked + .radio-radio::after{
 transform: scale(1);
}

.radio-radio.radio-2{
    width: 1.5em;
    height: 1.5em;
}

.radio-radio.radio-2::after{
    background-color: #8B0003;
}