
* {
    font-family: 'Catamaran', sans-serif;
    box-sizing: border-box;
}

.nav .nav-link{
    background-color: #ef8100;
    color: white;
    
}

.nav .nav-link.active{
    background-color: #8B0003;
    color: white;
}

.division {
    border-color: #8B0003;
    border-width: 0.2em;
}

.titulo-elemento{
    color: #8B0003;
    font-family:'Fredoka One';
}


#cajitas {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
    align-content: center;
    background-color: #8B0003;
}

.cajita{
background-color: #FCDB7E;
border-radius: 0.8em;
height: auto;
color:black;
width: 500px;
max-width: 85%;
margin: auto auto;

}

table{
    padding-top: 15px;
    width: 80%;
    background-color: white;
    margin: 10px auto;
    text-align: center;
}

@media screen and (min-width: 576px) and (max-width:800px) {
    table{
        width: 100%;
    }
    
}
/* @media screen and (max-width: 800px) {
    table{
        width: 90%;
    }
    
} */

.cantidad{
   width: 30%;
   text-align: center;
   background-color: white;
   border-style: none;
}

.precio{
    width: 100%;
    text-align: center;
    background-color: white;
    border-style: none;
}

.producto{
    border-radius: 1em;
    height: 80px;
    width:auto;
}

#btn{
    display: none;
}

.botones{
    height: 1.6rem;
}
.botones:active{
    transform: scale(1.2);
}

#col2{
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
}

#items{
    height:18.75em ;
    overflow: hidden scroll;
    align-self: flex-start;
    width: 100%;
}

#items::-webkit-scrollbar {
    display: none;
}

#datos{
    height: 50%;
    width: 100%;
    background-color: white;
    align-self: flex-start;
}

/*
#table1{
    border-collapse: separate;
    border-spacing: 0 10px;
}
*/

.btn.btn-warning{
    background-color: #EF8100;
    border-color: #EF8100;
    color: white;
    font-family:'Fredoka One';
    margin: 0 auto;
    width: 12em;
}

#floatingInput{
    text-align: center;
    width: 75%;
    border-color: #8B000362;
}

.form-floating label{
    color: #8B0003;
}

/* Estilos de opciones en inputs */
.botoncito, .botoncito-2{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#8B0003;
    font-weight: bold;
    background-color: #FD8A3A;
    border-style: none;
    border-radius: 2em;
    width: 85%;
    height: 100%;
}

.botoncito-2{
    background-color: white;
    width: 70%;
    border:solid #8B0003 0.18em;
    font-weight: normal;
}

/* La clase .radio es la clase de label que contiene el radio input */
.radio{
    display:inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    width: 100%;
    height: 100%;
}

.radio-input {
    display:none;
}

/* Se está creando el círculo grande del input */
.radio-radio{
    width: 2.5em;
    height: 2.5em;
    background-color: white;
    border-radius: 50%;

    /* Margen a al texto de al lado */
    margin-right: 10px;

    /* Espacio entre el círculo grande y el chico */
    box-sizing: border-box;
    padding: 8px;
}

/* Se crea un elemento virtual (el circulito de adentro) */
.radio-radio::after{
    /* Para que se visualice */
    content: ""; 
    width: 100%;
    height: 100%;
    display: block;
    background-color: #8B0003;
    border-radius: 50%;

    /* El aspecto base es "deseleccionado" */
    transform: scale(0);
    transition: 0.15s;

}

/* Se selecciona el siguiente elemento al '.radio-input:checked' */
/* Es decir, se selecciona el circulito 'seleccionado' */
.radio-input:checked + .radio-radio::after{
 transform: scale(1);
}

.radio-radio.radio-2{
    width: 2em;
    height: 2em;
}

.radio-radio.radio-2::after{
    background-color: #8B0003;
}

.btn.btn-warning[type="submit"]{
    background-color: #8B0003;
    border-color: #8B0003;
    height: 3.125em;
}