
* {
    font-family: 'Catamaran', sans-serif;
    box-sizing: border-box;
}

.division {
    border-color: #8B0003;
    border-width: 0.2em;
}

.titulo-elemento{
    color: #8B0003;
    font-family:'Fredoka One';
}


#cajitas {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
    align-content: center;
    background-color: #8B0003;
}

.cajita{
background-color: #FCDB7E;
border-radius: 0.8em;
height: auto;
color:black;
width: 500px;
max-width: 85%;
margin: auto auto;

}

table{
    padding-top: 15px;
    width: 80%;
    background-color: white;
    margin: 10px auto;
    text-align: center;
}

.cantidad{
   width: 30%;
   text-align: center;
   background-color: white;
   border-style: none;
}

.precio{
    width: 100%;
    text-align: center;
    background-color: white;
    border-style: none;
}

.producto{
    border-radius: 1em;
    height: 80px;
    width:auto;
}

#btn{
    display: none;
}

.botones{
    height: 1.6rem;
}
.botones:active{
    transform: scale(1.2);
}

#col2{
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
}

#items{
    height:23em ;
    overflow: hidden scroll;
    align-self: flex-start;
    width: 100%;
}

#items::-webkit-scrollbar {
    display: none;
}

#datos{
    height: 50%;
    width: 100%;
    background-color: white;
    align-self: flex-start;
}

/*
#table1{
    border-collapse: separate;
    border-spacing: 0 10px;
}
*/

.btn.btn-warning{
    background-color: #EF8100;
    border-color: #EF8100;
    color: white;
    font-family:'Fredoka One';
    margin: 0 auto;
    width: 12em;
}

/*Quién escribió esto?*/
#floatingInput{
    text-align: center;
    width: 75%;
    border-color: #8B000362;
}

.form-floating label{
    color: #8B0003;
}

/* Estilos de opciones en radio inputs */
.botoncito, .botoncito-2{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#8B0003;
    font-weight: bold;
    background-color: #FD8A3A;
    border-style: none;
    border-radius: 2em;
    width: 85%;
    height: 100%;
}

.botoncito-2{
    background-color: white;
    width: 70%;
    border:solid #8B0003 0.18em;
    font-weight: normal;
}

.btn.btn-warning[type="submit"]{
    background-color: #8B0003;
    border-color: #8B0003;
    height: 3.125em;
}

/* Estilos para chamoy */
input[type="checkbox"], input[type="radio"]{
    display: none;
}

.checkbox{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 3px;
    border: 2px #8B0003 solid;
}
#label-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto auto;
    /* border: #8B0003 3px solid; */
    border-radius:5px;
    padding: 7px 15px;
    /* width: 80%; */
    /* Se debe cambiarel width cuando el ancho cambia */
    cursor: pointer;
}

.selected{
    background-color: #8B0003;
    border-color: #8B0003;
}

.producto-chamoy{ /*Imagen del chamoy*/
    border-radius: 10px;
    height: 50px;
    width:auto;
}


/* * * * * * * * * Responsive Design * * * * * * * * * * * * */
@media screen and (max-width: 575px) {

    #label-group{
        width: 80%;
    }
}

@media screen and (min-width: 576px) and (max-width:800px) {
    table{
        width: 100%;
    }

    #label-group{
        width: 90%;
    }
}

@media screen and (min-width:900px) {
    #label-group{
        width: 80%;
    }
}
/* @media screen and (max-width: 800px) {
    table{
        width: 90%;
    }
    
} */

