
* {
    font-family: 'Catamaran', sans-serif;
    box-sizing: border-box;
}

.division {
    border-color: #8B0003;
    border-width: 0.2em;
}

.titulo-elemento{
    color: #8B0003;
    font-family:'Fredoka One';
}


#cajitas {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
    align-content: center;
    background-color: #8B0003;
}

.cajita{
background-color: #FCDB7E;
border-radius: 0.8em;
height: auto;
color:black;
width: 500px;
max-width: 85%;
margin: auto auto;

}

table{
    padding-top: 15px;
    width: 80%;
    background-color: white;
    margin: 10px auto;
    text-align: center;
}

.cantidad{
   width: 40%;
   text-align: center;
   background-color: white;
   border-style: none;
}

.precio{
    width: 100%;
    text-align: center;
    background-color: white;
    border-style: none;
}

.producto{  /*Imagen*/
    border-radius: 1em;
    height: 80px;
    width:auto;
}

#btn{
    display: none;
}

.botones{
    height: 1.6rem;
    cursor: pointer;
}
.botones:active{
    transform: scale(1.2);
}

#col2{
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
}

#items{
    height:23em ;
    overflow: hidden scroll;
    align-self: flex-start;
    width: 100%;
}

#items::-webkit-scrollbar {
    display: none;
}

#datos{
    height: 50%;
    width: 100%;
    background-color: white;
    align-self: flex-start;
}


.btn.btn-warning{
    background-color: #EF8100;
    border-color: #EF8100;
    color: white;
    font-family:'Fredoka One';
    margin: 0 auto;
    width: 12em;
}

/* Estilos de opciones en radio inputs */
.envios-group,.pagos-group, .puntosEntregas-group{ /*Contenedor radio-input y label*/
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: auto auto;
    border-radius:5px;
    width: 100%;
    cursor: pointer;
}
.puntosEntregas-group{
    justify-content: center;
}

.radio-input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    background-color: white;
    border-radius: 50%;
    border: 2px white solid;
}
.radio-2{
    width: 2em;
    height:2em;
}
.dot {
    height: 50%;
    width: 50%;
    border-radius: 50%;
}
.botoncito, .botoncito-2{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#8B0003;
    font-weight: bold;
    background-color: #FD8A3A;
    border-style: none;
    border-radius: 2em;
    width: 85%;
    height: 2.5em;
}

.botoncito-2{
    height: 1.9em;
    background-color: white;
    width: 60%;
    border:solid #8B0003 0.18em;
    font-weight: normal;
}

.hide{
    display: none;
}

.btn.btn-warning[type="submit"]{
    background-color: #8B0003;
    border-color: #8B0003;
    height: 3.125em;
}

/* Estilos para chamoy */
input[type="checkbox"], input[type="radio"]{
    display: none;
}

.checkbox{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 3px;
    border: 2px #8B0003 solid;
}
.label-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto auto;
    /* border: #8B0003 3px solid; */
    border-radius:5px;
    padding: 7px 15px;
    cursor: pointer;
    width: 90%;
}

.selected{
    background-color: #8B0003;
    transition: all 0.5s;
}

.producto-chamoy{ /*Imagen del chamoy*/
    border-radius: 10px;
    height: 50px;
    width:auto;
}


/* * * * * * * * * Responsive Design * * * * * * * * * * * * */
@media screen and (min-width: 320px) and (max-width: 414px){ /* Versión móbil */
    table{
        width: 100%;
    }
    .label-group{
        width: 100%;
    }
    .producto{  /*Imagen*/
        height: 48px;
        width:auto;
    }
    .botones{
        height: 1.4rem;
    }
    .cajita{
        width: 100%;
    }
    
}

@media screen and (min-width: 575px) { /* Versión móbil */
    table{
        width: 90%;
    }
    .label-group{
        width: 80%;
    }
}

@media screen and (min-width: 576px) and (max-width:800px) { /* tablet */
    table{
        width: 100%;
    }
    .producto{  /*Imagen*/
        height: 55px;
        width:auto;
    }
    .botones{
        height: 1.4rem;
    }
    .radio-input{
        width: 25px;
        height: 25px;
    }
    .botoncito{
        height: 30px;
    }
    .producto-chamoy{
        height: 45px;
        width:auto;
    }
    h5{
        font-size: 18px;
    }
    p{
        font-size: 14px;
    }
    .radio-2{
        width: 20px;
        height:20px;
    }
}

@media screen and (min-width:800px) and (max-width:980px) { /* desktop */
    table{
        width: 100%;
    }
    .producto{  /*Imagen*/
        height: 70px;
        width:auto;
    }
}

@media screen and (min-width:980px) { /* desktop */
    table{
        width: 90%;
    }
    .label-group{
        width: 80%;
    }
    .botones{
        height: 1.8rem;
    }
}
